h2 {
  color: green;
  text-align: center;
  text-decoration: underline;

}
body {
  background: white;
}
li {
  color: red;
}
h1 {
  color: blue;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: fantasy;
  font-size: 50px
}
p {
  text-align: left;
  color: indigo
}
li {
  text-align: justify;
}
body {
  border-width: thick;
}

p {
  text-indent: 15pt
}
